<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad</title>
    <link rel="icon" href="../../../public/img/satelite.ico" />
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/tablasEstilos.css">
    <link rel="stylesheet" href="../../../public/css/menu.css">
    <script src="https://kit.fontawesome.com/41dba275ba.js" crossorigin="anonymous"></script>
</head>
<body>
  <aside class="menu-hamburguesa">
    <div class="contenedor-botones-menu">
      <div class="boton-hamburguesa" onclick="menuDesplegable()">
        <i class="fas fa-bars"></i>
      </div>
      <div class="cerrar-menu" onclick="menuEstatico()">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="contenedor-menu" id="menu-desplegable">
      <ul>
        <li>
          <a href="../../procesos" target="_parent" class="opcion-menu">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-chess-king"></i>
            <p>Gestión Estratégica</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/estrategica/caracterizacion">Caracterización</a></li>
            <li><a href="../../procesos/estrategica/procedimientos">Procedimientos</a></li>
            <li><a href="../../procesos/estrategica/manuales">Manuales</a></li>
            <li><a href="../../procesos/estrategica/formatos">Formatos</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-handshake-simple"></i>
            <p>Gestión de Calidad y Servicio al Cliente</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/calidad/caracterizacion">Caracterización</a></li>
            <li><a href="../../procesos/calidad/calidad">Calidad</a></li>
            <li><a href="../../procesos/calidad/acciones-de-mejora">Acciones de mejora</a></li>
            <li><a href="../../procesos/calidad/auditorias">Auditorías</a></li>
            <li><a href="../../procesos/calidad/informacion-documentada">Información documentada</a></li>
            <li><a href="../../procesos/calidad/servicio-al-cliente">Servicio al Cliente y<br>Salidas no Conformes</a></li>
            <li><a href="../../procesos/calidad/generales">Generales</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-gear"></i>
            <p>Gestión de Operaciones</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/operaciones/operaciones">Operaciones</a></li>
            <li><a href="../../procesos/operaciones/mantenimiento">Mantenimiento Preventivo</a></li>
            <li><a href="../../procesos/operaciones/laboratorio">Laboratorio</a></li>
            <li><a href="../../procesos/operaciones/planes-de-trabajo">Planes de Trabajo</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-chart-column"></i>
            <p>Gestión Comercial</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/comercial/caracterzacion">Caracterización</a></li>
            <li><a href="../../procesos/comercial/procedimientos">Procedimientos</a></li>
            <li><a href="../../procesos/comercial/politicas">Políticas</a></li>
            <li><a href="../../procesos/comercial/formatos">Formatos</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fas fa-users"></i>
            <p>Gestión Humana</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/humana/caracterizacion">Caracterización</a></li>
            <li><a href="../../procesos/humana/politicas">Políticas</a></li>
            <li><a href="../../procesos/humana/manuales">Manuales</a></li>
            <li><a href="../../procesos/humana/procedimientos">Procedimientos</a></li>
            <li><a href="../../procesos/humana/instructivos">Instructivos</a></li>
            <li><a href="../../procesos/humana/organigramas">Organigramas</a></li>
            <li><a href="../../procesos/humana/formatos">Formatos</a></li>
            <li><a href="../../procesos/humana/guias">Guías</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-print"></i>
            <p>Gestión de Aprovisionamiento</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/aprovisionamiento/caracterizacion">Caracterización</a></li>
            <li><a href="../../procesos/aprovisionamiento/compras">Compras</a></li>
            <li><a href="../../procesos/aprovisionamiento/almacen">Almacén</a></li>
            <li><a href="../../procesos/aprovisionamiento/producto-no-conforme">Producto No Conforme</a></li>
          </ul>
        </li>
        </li>
        <li>
          <a href="#" class="opcion-menu">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Gestión Financiera</p>
          </a>
          <ul class="submenu">
            <li><a href="../../procesos/financiera/caracterizacion">Caracterización</a></li>
            <li><a href="../../procesos/financiera/procedimientos">Procedimientos</a></li>
            <li><a href="../../procesos/financiera/instructivos">Instructivos</a></li>
            <li><a href="../../procesos/financiera/formatos">Formatos</a></li>
            <li><a href="../../procesos/financiera/no-controlados">No controlados SGC</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contenedor-menu" id="menu-estatico">
      <ul>
        <li>
          <a href="../../procesos" target="_parent" class="opcion-menu">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/estrategica" class="opcion-menu">
            <i class="fa-solid fa-chess-king"></i>
            <p>Gestión Estratégica</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/calidad" class="opcion-menu">
            <i class="fa-solid fa-handshake-simple"></i>
            <p>Gestión de Calidad y Servicio al Cliente</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/operaciones" class="opcion-menu">
            <i class="fa-solid fa-gear"></i>
            <p>Gestión de Operaciones</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/comercial" class="opcion-menu">
            <i class="fa-solid fa-chart-column"></i>
            <p>Gestión Comercial</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/humana" class="opcion-menu">
            <i class="fas fa-users"></i>
            <p>Gestión Humana</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/aprovisionamiento" class="opcion-menu">
            <i class="fa-solid fa-print"></i>
            <p>Gestión de Aprovisionamiento</p>
          </a>
        </li>
        <li>
          <a href="../../procesos/financiera" class="opcion-menu">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Gestión Financiera</p>
          </a>
        </li>
      </ul>
    </div>
  </aside>
      <div class="container">
        <div class="contenedor-btnGestion">
          <a href="../calidad"><img src="../../../public/img/iconoGestionCalidad-white.png" id="gestion-calidad"></a>
        </div>
        <div class="tabla">
            <div class="encabezado-tabla">
              <div class="titulo-numero"><h2>N°</h2></div>
              <div class="titulo-nombre"><h2>Título</h2></div>
              <div class="titulo-documento"><h2>Documento</h2></div>
            </div>
            <div class="cuerpo-tabla">
                <div class="fila-datos">
                    <div class="dato-numero"><p>1</p></div>
                    <div class="dato-titulo"><p>GCA-P01-R7 Procedimiento Gestión de la Calidad</p></div>
                    <div class="dato-documento"><a href="/1 GCA-P01-R7 Procedimiento Gestión de la Calidad.pdf" target="_blank"><img src="../../../public/img/adobe_acrobat_tile_logo_icon_167900.ico" id="pdf"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero numero-hijo"><p>1.1</p></div>
                    <div class="dato-titulo titulo-hijo"><p>GCA-IN02 R1 Instructivo gestión de riesgos y oportunidades</p></div>
                    <div class="dato-documento"><a href="/1.1 GCA-IN02 R1 Instructivo gestión de riesgos y oportunidades.pdf" target="_blank"><img src="../../../public/img/adobe_acrobat_tile_logo_icon_167900.ico" id="pdf"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero numero-hijo"><p>1.2</p></div>
                    <div class="dato-titulo titulo-hijo"><p>GCA-IN03-RO Instructivo gestión de cambios</p></div>
                    <div class="dato-documento"><a href="/1.2 GCA-IN03-RO Instructivo gestión de cambios.pdf" target="_blank"><img src="../../../public/img/adobe_acrobat_tile_logo_icon_167900.ico" id="pdf"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>2</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F01-R6 Informe de seguimiento y control</p></div>
                    <div class="dato-documento"><a href="/2 GCA-P01-F01-R6 Informe de seguimiento y control.xls"><img src="../../../public/img/microsoft_office_excel_logo_icon_145720.ico" id="excel"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>3</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F02-R1 Acta de reunión</p></div>
                    <div class="dato-documento"><a href="/3 GCA-P01-F02-R1 Acta de reunión.docx"><img src="../../../public/img/microsoft_office_word_logo_icon_145724.ico" id="word"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>4</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F03-R1 Plan anual de gestión</p></div>
                    <div class="dato-documento"><a href="/4 GCA-P01-F03-R1 Plan anual de gestión.docx"><img src="../../../public/img/microsoft_office_word_logo_icon_145724.ico" id="word"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>5</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F04- R13 Formato Caracterización de proceso</p></div>
                    <div class="dato-documento"><a href="/5 GCA-P01-F04- R13 Formato Caracterización de proceso.xlsx"><img src="../../../public/img/microsoft_office_excel_logo_icon_145720.ico" id="excel"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>6</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F05-R1 Registro y control de los cambios</p></div>
                    <div class="dato-documento"><a href="/6 GCA-P01-F05-R1 Registro y control de los cambios.xlsx"><img src="../../../public/img/microsoft_office_excel_logo_icon_145720.ico" id="excel"></a></div>
                </div>
                <div class="fila-datos">
                    <div class="dato-numero"><p>7</p></div>
                    <div class="dato-titulo"><p>GCA-P01-F06-R1 Matriz Gestión de Riesgos</p></div>
                    <div class="dato-documento"><a href="/7 GCA-P01-F06-R1 Matriz Gestión de Riesgos.xlsx"><img src="../../../public/img/microsoft_office_excel_logo_icon_145720.ico" id="excel"></a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../javascript/menu.js"></script>
</body>
</html>